.mentorPic{
    width: 60px;
    height: 80px;
    background-color: #E2E6EB;
    border-radius: 20px;
    margin-top: -35px;
}
.sideIcon{
    width: 28px;
    height:28px;
    background-color: hsl(226, 100%, 56%);
    position: relative;
    margin: -42px 0px 0px 37px;
    border-radius: 10px;
}
.sideIcon img{
    box-sizing: border-box;
    margin: 5px;
}
.cat-body-1{
    height:68px;
    width: 593px;
    display: flex;
    align-items: flex-start;
    gap: 24px;
}
.name{
    box-sizing: border-box;
    display: flex;
    padding: 12px 12px 12px 16px;
    gap: 10px;
    border:1px solid #cecece;
    border-radius: 12px;
    width: 300px;
    height: 35px;
    margin-top: -0.7em;
}
.name img, .socialUrl img{
    height: 24px;
    margin-top:-6px;
}
.name p, .socialUrl p{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 11px;
    align-items: flex-start;
    width: 250px;
    margin-top: -4px;
    color: #1E1E1E;
    font-family: "Space Grotesk";
    font-weight: 500;
    opacity: 0.5;
}
.socialUrl{
height : 10px;
width : 593px;
display : flex;
align-items : flex-start;
gap : 10px;
border: 1px solid #cecece;
border-radius: 12px;
padding: 12px 12px 12px 16px;
margin: -2em 0em 1.2em 0em;
}
.socialUrl p{
    width: 550px;
}