.drag-drop{
width: 585px;
display: flex;
justify-content: center;
align-items: center;
padding: 10px 20px;
gap: 8px;
border-radius: 8px;
border: 1px dashed #B2B6BC;
margin-top: -2em;
}
.drag-drop p{
    line-height: 18px;
    font-family: "Space Grotesk";
    color:#333;
}
.cat-tags .tag-1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 18px 0px 18px;
    gap: 12px;
    background-color: rgba(102, 95, 239, 0.2);
    border-radius: 20px;
    margin-top: -0.5em;
}
.cat-tags .tag-1 p {
    font-family: "Space Grotesk";
    font-weight: 500;
    font-size: 15px;
    color: #793EF5;
}
.tag-1 img {
    position: relative;
    bottom: 0px;
    right: 2px;

}
